* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-image: url('img/background.png');
    background-size: 400% 400%;
    animation: gradient 66s ease infinite;
  }
  
  @keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgba(230, 230, 250, 0.4);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.infocards {
	width: 66%;
	margin: 8px auto;
	
	display: grid;
	grid-template-rows: 350px 350px;
	grid-template-columns: 33% 34% 33%;	
}

.card {
	font-family: sans-serif;
  text-align: center;
	color: whitesmoke;
	font-size: 28px;
  padding: 20px;
}

.headshot {
  border-radius: 50%; 
  width: 225px; 
  height: 225px;
}

.sociallinks {
  border-radius: 10%;
  width: 25px;
  height: 25px; 
}

.role{
  font-size: 16px; 
  color: grey;
}